html,
body {
	font-family: "Roboto", sans-serif;
	padding: 0;
	margin: 0;
}

#root {
	height: 100vh;
}

* {
	box-sizing: border-box;
}

.joinOuterContainer {
	display: flex;
	justify-content: center;
	text-align: center;
	height: 100vh;
	align-items: center;
	background-color: #303030;
}

.joinInnerContainer {
	width: 20%;
}

.joinInput {
	border-radius: 10px;
	padding: 15px 20px;

	width: 100%;
}

.heading {
	color: white;
	font-size: 2.5em;
	padding-bottom: 10px;
	border-bottom: 2px solid white;
}

.button {
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #2979ff;
	padding: 20px;
	border-radius: 10px;
	display: inline-block;
	border: none;
	width: 100%;
}

.mt-20 {
	margin-top: 20px;
}

@media (max-width: 480px) {
	.joinOuterContainer {
		height: 100vh;
	}

	.joinInnerContainer {
		width: 50vw;
	}
	.button.mt-20 {
		min-height: 35px !important;
	}
}

@media (min-width: 480px) {
	.joinOuterContainer {
		height: 100vh;
	}

	.joinInnerContainer {
		width: 30vw;
	}
}

@media (min-width: 980px) {
	.joinOuterContainer {
		height: 100vh;
	}

	.joinInnerContainer {
		width: 30vw;
	}
	.button {
		min-height: 40px;
		font-size: 1.2rem;
	}
}

button:focus {
	outline: 0;
}
